body {
    text-align: center;
    background: linear-gradient(#f6ff00, #00ff3c, #0084ff, #ff0088, #fc6b03, #fcc603);
}

#code {
    border-radius: 50%;
    width: 300px;
    z-index: 9;
}

h1 {
    text-shadow: 2px 2px #5100ff;
    font-size: 30px;
    color: coral;
    font-family: 'Lobster', cursive;
}

.line {
    height: 6px;
    background-color: #00fbff;
    width: 120px;
    margin: 8px auto;
}

p {
    font-size: 25px;
    font-family: 'Playball', cursive;
    color: darkcyan;
}

#name {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px #5100ff;
    color: coral;
}

#l {
    text-shadow: 2px 2px #5100ff;
    color: coral;
    font-size: 28px;
}

#bio {
    font-family: 'Oleo Script', cursive;
    font-style: none;
}

.menu {
    position: fixed;
    background-color: white;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
}

.links {
    display: inline;
    list-style: none;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: aquamarine;
    text-shadow: 2px 2px gainsboro;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: deeppink;
}


.mwork {
    font-size: 25px;
}

.b {
    font-size: 25px;
}

img {
    width: 300px;
    height: 250px;
    transition: transform 2s;
}

img:hover {
    transform: scale(0.9);
}

#contact {
    background: firebrick;
}

.contact_1 a {
    text-shadow: none;
    color: white;
}

.contact_1 h3 {
    display: inline;
}
